@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - pcg</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>
    <header class="header-yellow-bg">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index">Variations - @ViewData["SessionName"]</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav ml-auto">
                    <li class="dropdown">
                            <button class="dropdown-toggle btn" onfocus="this.blur();" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tasks</button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="MyTask">My Task</a></li>
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="Forwarded">Forwarded</a></li>
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="Pending">For Approval</a></li>
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="VarTask">Variation Tasks</a></li>
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="QueryTask">Query Tasks</a></li>
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="DeclinedTask">Declined</a></li>
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="History">History</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                            <button class="dropdown-toggle btn" onfocus="this.blur();" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Site</button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="Sites">Sites</a></li>                                  
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="SiteStatus">Site Status</a></li>
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="SitePending">Site Approval</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                            <button class="dropdown-toggle btn" onfocus="this.blur();" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="ChangeInfo">Change Info</a></li>
                                @if ((string)ViewData["SessionType"] == "SAdmin")
                                {
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="UserAccount">Verify Users</a></li>
                                }
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="ClientReg">Create Client Account</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Log Out</a></li>                                   
                            </ul>
                    </li>               
                </ul>
            </div>
        </div>
    </nav>
</header>

    <div class="container">
        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div style="display: flex; justify-content: center" class="container">
            <h6 id="clock"></h6>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        function updateClock() {
            var now = new Date();
            var hours = now.getHours().toString().padStart(2, '0');
            var minutes = now.getMinutes().toString().padStart(2, '0');
            var seconds = now.getSeconds().toString().padStart(2, '0');
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12;

            var strTime = hours + ':' + minutes + ':' + seconds + ' ' + ampm;

            var options = { year: 'numeric', month: 'long', day: 'numeric' };
            var strDate = now.toLocaleDateString(undefined, options);

            document.getElementById('clock').textContent = strDate + ' ' + strTime;
        }
        setInterval(updateClock, 1000);
        updateClock();
    </script>
</body>
</html>
